#front {
    text-align: center;
}
button {
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}
#sr {
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}
#back {
    text-align: left;
}