#front {
    text-align:center;	   
}
.a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width:31%;
    color: white;
    background-color: green;
    border-radius:20px;
}
a:hover {
    transform: scale(1.1,1.1);;
}